<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression.ZipFile" culture="neutral" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="projects_path" value="Z:\"/>
    <add key="java_projects_path" value="F:\ICBC2020\Java"/>
    <add key="csharp_projects_path" value="F:\ICBC2020\CSharp"/>
    <add key="python_projects_path" value="F:\ICBC2020\Python"/>
    <add key="javascript_projects_path" value="F:\ICBC2020\Javascript"/>
    <add key="go_projects_path" value="Z:\GoCompressed\"/>
    <add key="java_language" value=".java"/>
    <add key="charp_language" value=".cs"/>
    <add key="python_language" value=".py"/>
    <add key="javascript_language" value=".js"/>
    <add key="go_language" value=".go"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
